name: test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_call: ~

permissions:
  contents: read

jobs:
  sanity-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: elastic/oblt-actions/pre-commit@v1
  test:
    strategy:
      fail-fast: false
      matrix:
        php-image:
          - 8.1-alpine
          - 8.2-alpine
    runs-on: ubuntu-latest
    container: php:${{ matrix.php-image }}
    steps:
      - uses: actions/checkout@v6
      - name: Append PATH
        run: echo "${GITHUB_WORKSPACE}" >> $GITHUB_PATH
      - name: Install composer
        run: .ci/scripts/install-composer.sh
      - name: Install dependencies
        run: composer --no-progress install
      - name: Run tests
        env:
          VERSION: ${{ matrix.php-image }}
        run: composer test
      - if: success() || failure()
        uses: actions/upload-artifact@v7
        with:
          name: test-results-${{ matrix.php-image }}
          path: junit-*.xml
